<%- include("header") -%>

    <h2>Welcome to your to-Do-List</h2>

    <p>This is a to-Do-List made using HTML,CSS,Node Js,Express Js and MongoDb is used for database</p>

    <%- include("footer") -%>